<div class="abp-advanced-search">
    <form id="LogsSearchForm" class="form-horizontal">
        <div class="form-group">
            <input type="text" name="Message" placeholder="Message" class="form-control txt-search" />
        </div>
        <div class="form-group">
            <select class="form-control slct-level" name="Level">
                <option>Debug</option>
                <option>Info</option>
                <option>Warning</option>
                <option>Error</option>
            </select>
        </div>
        <button type="button" class="btn bg-blue btn-search float-right">
            <span class="fas fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>
