<div class="abp-advanced-search">
    <form id="CitiesSearchForm" class="form-horizontal">
        <div class="form-group">
            <input type="text" name="Name" placeholder="Name" class="form-control txt-search" />
        </div>
        <div class="form-group">
            
        </div>
        <button type="button" class="btn bg-blue btn-search float-right">
            <span class="fas fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>