<div class="abp-advanced-search">
    <form id="LogsSearchForm" class="form-horizontal">
        <div class="form-group">
            <input type="text" name="ServiceName" placeholder="Service Name" class="form-control" />
        </div>
        <div class="form-group">
            <input type="text" name="MethodName" placeholder="Method Name" class="form-control" />
        </div>
        <div class="form-group">
            <input type="text" name="ClientIpAddress" placeholder="Client Ip address" class="form-control " />
        </div>
        <div class="form-group">
            <input type="number" name="UserId" placeholder="User Id" class="form-control " />
        </div>
        <div class="form-group">
            <input type="number" name="TenantId" placeholder="Tenant Id" class="form-control " />
        </div>
        <button type="button" class="btn bg-blue btn-search float-right">
            <span class="fas fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>
