<div class="abp-advanced-search">
    <form id="TicketSearchForm" class="form-horizontal">
        <div class="form-group">
            <input type="text" name="Title" placeholder="Title" class="form-control txt-search" />
            <select name="State" class="form-control">
                <option value="">@L("ChooseAState")</option>
                <option value="Created">@L("Created")</option>
                <option value="Pending">@L("Pending")</option>
                <option value="Resolved">@L("Resolved")</option>
            </select>
            
        </div>
        <div class="form-group">

        </div>
        <button type="button" class="btn bg-blue btn-search float-right">
            <span class="fas fa-search" aria-hidden="true"></span>
        </button>
    </form>
</div>